
<form method="post" id="form-cliente" class="form" (submit)="enviarDatos()" 
[formGroup]="formularioCliente">
          
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" formControlName="nombre">
   
    <span class="error" *ngIf="formularioCliente.touched" >
        {{formularioCliente.controls['nombre'].errors?.['required'] ? 'El nombre es obligatorio' : ''}}
        {{formularioCliente.controls['nombre'].errors?.['pattern'] ? 'El nombre debe tener solo letras' : ''}}
    </span>

    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" formControlName="apellido">
    <span class="error" *ngIf="formularioCliente.touched  && (formularioCliente.controls['dni'].touched || formularioCliente.controls['dni'].touched )">
        {{formularioCliente.controls['apellido'].errors?.['required'] ? 'El apellido es obligatorio' : ''}}
        {{formularioCliente.controls['apellido'].errors?.['pattern'] ? 'El apellido debe tener solo letras' : ''}}
    </span>

    <label for="dni">DNI</label>
    <input type="text" id="dni"  formControlName="dni">
    <span class="error" *ngIf="formularioCliente.controls['nombre'].touched && formularioCliente.controls['apellido'].touched && formularioCliente.controls['fechaInicio'].touched" >
        {{formularioCliente.controls['dni'].errors?.['required'] ? 'El dni es obligatorio' : ''}}
    </span>   
    <span class="error" *ngIf="formularioCliente.controls['dni'].touched">
        {{formularioCliente.controls['dni'].errors?.['pattern'] ? 'El DNI debe tener solo números' : formularioCliente.controls['dni'].errors?.['minlength'] || formularioCliente.controls['dni'].errors?.['maxlength'] ? 'El DNI debe tener 8 números' : ''}}
      </span>
      

    <label for="fecha">Fecha de inicio</label>
    <input type="date" id="fecha" formControlName="fechaInicio">
    <span class="error" *ngIf="formularioCliente.controls['nombre'].touched &&
     formularioCliente.controls['apellido'].touched && 
     formularioCliente.controls['dni'].touched && 
     formularioCliente.controls['fechaInicio'].touched ">
        {{formularioCliente.controls['fechaInicio'].errors?.['required'] ? 'La fecha de inicio es obligatoria' : ''}}
    </span>

    <input type="submit" value="Enviar">
   
   

    